@keyframes in {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
  }
} 

.card-body {
  padding: 0px;
}

.name {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.3;
  animation: in 1s .5s 1 backwards;  
}

.number {
  font-size: 3.5rem;
  line-height: 2.5rem;
}

.vl {
  border-left: 2px solid white;
  height: 1rem;
}

span {
  line-height: 1rem;
}

.logo {
  height: 1rem;
  width: auto;
}

.base-data-row {
  margin-left: -15px;
  margin-right: -15px;
}

.base-data {
  margin-top: 0;
  border: 1.5px white solid;
  font-size: 1.2rem;
  // padding: 0;
  .title {
    text-align: left;
    margin-bottom: 0; 
    margin-left: .5rem;
  }  
  .value {
    margin-bottom: .25rem;
  }
}

#radarChartDiv {
  border-radius: 5px 0 0 5px;
}

#lineChartDiv {
  border-radius: 0 5px 5px 0;
}

@media (max-width: 767.98px) { 
  #radarChartDiv {
    border-radius: 5px;
  }
  #lineChartDiv {
    border-radius: 5px;
  }
}

.detail-data {
  font-size: .8rem;
  border-radius: 5px;
  white-space: nowrap; 
}
